# for loop

In [1]:
range(2,22,3)

range(2, 22, 3)

In [8]:
for a in range(3,6):
    print(a ,"your name")

3 your name
4 your name
5 your name

In [13]:
for a in range(1,6,2):
    print(a ,"your name")

1 your name
3 your name
5 your name

In [15]:
list1=['a',13,"dolphin",16.30]
for b in list1:
    print(b)

a
13
dolphin
16.3

In [18]:
list1=['a',13,"dolphin",16.30]
for b in list1:
    print(a ,"dinasaur")

5 dinasaur
5 dinasaur
5 dinasaur
5 dinasaur

In [35]:
for a in range(1,11):
    print("2 X",a, " =",a*2)

2 X 1  = 2
2 X 2  = 4
2 X 3  = 6
2 X 4  = 8
2 X 5  = 10
2 X 6  = 12
2 X 7  = 14
2 X 8  = 16
2 X 9  = 18
2 X 10  = 20

In [68]:
for b in range(1,11):
    print("3 x ",b,"=",3*b)

3 x  1 = 3
3 x  2 = 6
3 x  3 = 9
3 x  4 = 12
3 x  5 = 15
3 x  6 = 18
3 x  7 = 21
3 x  8 = 24
3 x  9 = 27
3 x  10 = 30

In [76]:
num1 = int(input("Enter a table Number Which You want : "))
for a1 in range(1,11):
    print(num1, "X", a1, "=", num1*a1)

Enter a table Number Which You want : 11
11 X 1 = 11
11 X 2 = 22
11 X 3 = 33
11 X 4 = 44
11 X 5 = 55
11 X 6 = 66
11 X 7 = 77
11 X 8 = 88
11 X 9 = 99
11 X 10 = 110

In [77]:
a

10

In [85]:
print("Hello",num1,"Hello",45)

Hello 11 Hello 45

In [86]:
# Integer variable
integer_var = 10

# Float variable
float_var = 3.14

# String variable
string_var = "Hello, Python!"

# Boolean variable
boolean_var = True

# List variable
list_var = [1, 2, 3, 4, 5]

# Tuple variable
tuple_var = (6, 7, 8, 9, 10)

# Dictionary variable
dictionary_var = {'a': 1, 'b': 2, 'c': 3}

# Set variable
set_var = {1, 2, 3, 4, 5}

# NoneType variable
none_var = None

# Complex variable
complex_var = 2 + 3j

# Bytes variable
bytes_var = b'Hello'

# Bytearray variable
bytearray_var = bytearray(b'Python')

# Range variable
range_var = range(5)

# Frozen set variable
frozenset_var = frozenset({1, 2, 3})

# Print all variables
print(integer_var, float_var, string_var, boolean_var)
print(list_var, tuple_var, dictionary_var, set_var)
print(none_var, complex_var, bytes_var, bytearray_var)
print(range_var, frozenset_var)

10 3.14 Hello, Python! True
[1, 2, 3, 4, 5] (6, 7, 8, 9, 10) {'a': 1, 'b': 2, 'c': 3} {1, 2, 3, 4, 5}
None (2+3j) b'Hello' bytearray(b'Python')
range(0, 5) frozenset({1, 2, 3})