In [1]:
print("fatimah")

fatimah

In [2]:
a = 15
type(a)

int

In [3]:
b = 15.1

In [4]:
type(b)

float

In [5]:
a+b

30.1

# typecasting string to integer

In [3]:
value1=int(input("enter first value : "))
value2=int(input("enter second value : "))
value1+value2

enter first value : 28
enter second value : 12

40

# typeCasting String to float

In [4]:
value1=float(input("enter first value : "))
value2=float(input("enter second value : "))
value1+value2

enter first value : 23.7
enter second value : 34

57.7

In [5]:
v1=float(input("enter first value"))
v2=float(input("enter second value"))
v1*v2

enter first value12
enter second value12

144.0

In [6]:
a = "welcome"
a

'welcome'

In [7]:
a[0]

'w'

In [8]:
a[1]

'e'

In [9]:
a[5]

'm'

In [11]:
a[1]

'e'

# Comparison Operator

In [15]:
a = 10
b = 12
a == b

False

In [17]:
a = 10
b = 10
a == b # equal sign

True

In [18]:
a = 10
b = 12
a < b # a is less then b

True

In [19]:
a > b # a is more then b

False

In [24]:
a <= b # a is less then or equal to b

True

In [25]:
a >= b # a is greater then or equal to b

False